{{ partial "header.html" . }}
<main class="content" role="main">

            <div class="archive">
                  <article class="archive-item">
                  <ul>

                        {{ range .Pages }}
                        <li>
                              <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </li>
                        {{ end }}
                  </ul>
                  </article>

            </div>
      <aside id="meta"> </aside>
</main>
{{ partial "footer.html" . }}
