{{ partial "header.html" . }}
<main class="content" role="main">

            <div class="archive">
                  <article class="archive-item">
                  <ul>

                        {{ range .Pages }}
                        <li>
                              <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </li>
                        {{ end }}
                  </ul>
                  </article>

            </div>

            <!-- <ul>
                  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
                  <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
                        <ul>
                              {{ range $key, $value := $taxonomy }}
                              <li> {{ $key }} </li>
                              <ul>
                                    {{ range $value.Pages }}
                                    <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                                    {{ end }}
                              </ul>
                              {{ end }}
                        </ul>
                  </li>
                  {{ end }}
            </ul> -->


      <aside id="meta"> </aside>
</main>

      {{ partial "footer.html" . }}
