      <footer class="footer">
        <!--<ul class="footer-links">-->
        <ul class ="social-icons">
      <li>
                  <a href=https://github.com/RobWiederstein><img src="{{ "img/site/github.svg" | relURL }}"  alt="github icon"></a>
      </li>
      <li>
                  <a href=https://www.linkedin.com/in/rob-wiederstein-797553138/><img src="{{ "img/site/linkedin.svg" | relURL }}"  alt="linked-in icon"></a>
      </li>
      <li>
            <a href=https://twitter.com/RobWiederstein><img src="{{ "img/site/twitter.svg" | relURL }}"  alt="twitter icon"></a>
            </li>
</ul>
<img src="{{ "img/site/copyright.svg" | relURL }}" alt="copyright" height="15" width="15"/> 2021 Rob Wiederstein
      </footer>

    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
